<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mobile.scm.dao.GoodsMapper" >
  <resultMap id="goodsResultMap" type="cn.mobile.scm.entity.Goods" >
    <id column="goods_Id" property="goodsId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_color" property="goodsColor" jdbcType="VARCHAR" />
    <result column="goods_store" property="goodsStore" jdbcType="INTEGER" />
    <result column="goods_limit" property="goodsLimit" jdbcType="INTEGER" />
    <result column="goods_commission" property="goodsCommission" jdbcType="DECIMAL" />
    <result column="goods_producer" property="goodsProducer" jdbcType="VARCHAR" />
    <result column="goods_remark" property="goodsRemark" jdbcType="VARCHAR" />
    <result column="goods_sel_price" property="goodsSelPrice" jdbcType="DECIMAL" />
    <result column="goods_buy_price" property="goodsBuyPrice" jdbcType="DECIMAL" />
  </resultMap>
   <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListUseDyc" parameterType="page" resultMap="goodsResultMap" >
    select * from goods 
    <where>
    	<if test="paramEntity.goodsName!=null">and goods_name like #{paramEntity.goodsName}</if>
    </where>
	 limit #{start},#{rows}
  </select>
  
  <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountUseDyc" parameterType="page" resultType="Integer">
  	select count(1) from goods 
  	  <where>
    	<if test="paramEntity.goodsName!=null">and goods_name like #{paramEntity.goodsName}</if>
    </where>
  </select>
  
</mapper>