<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mobile.scm.dao.SysParamMapper" >
  <resultMap id="sysParamResultMap" type="cn.mobile.scm.entity.SysParam" >
    <id column="sys_param_id" property="sysParamId" jdbcType="BIGINT" />
    <result column="sys_param_field" property="sysParamField" jdbcType="VARCHAR" />
    <result column="sys_param_value" property="sysParamValue" jdbcType="VARCHAR" />
    <result column="sys_param_text" property="sysParamText" jdbcType="VARCHAR" />
    <result column="sys_param_type" property="sysParamType" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 获取整个表的数据，用来启动时加载系统参数 -->
  <select id="selectList" parameterType="string" resultMap="sysParamResultMap">
  	select * from sys_param
  </select>
  
  <!-- 查询其它表的数据,使用${value}格式，允许使用sql语句作为参数执行 -->
  <select id="selectOthreTable" parameterType="string" resultMap="sysParamResultMap">
  	${value}
  </select>
  
  
 
</mapper>