<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 通过别名简化对类的使用 -->
<typeAliases>
	<!-- 	<typeAlias type="cn.mobile.scm.entity.Dept" alias="Dept" /> -->
 
 <!-- 
		通过package, 可以直接指定package的名字， mybatis会自动扫描你指定包下面的javabean,
       -->
 
 <package name="cn.mobile.scm.entity"/>
 </typeAliases>
<!-- 
	<mappers>
		<mapper resource="cn/mobile/scm/entity/DeptMapper.xml" />
	</mappers> -->
		
</configuration>